body {
  background: var(--bs-light);
}

.loading {
  align-items: center;
  display: flex;
  font-size: 2em;
  height: 12em;
  justify-content: center;
}

.spacer {
  flex-grow: 2;
}

.dog-tooltip, {
  border-color: var(--bs-gray) !important;

  .dog-tooltip-arrow svg {
    stroke: var(--bs-gray);
  }
}

header {
  background: var(--bs-light);
  left: 0;
  min-width: 24em;
  padding: 1em 0;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1;
}

.stats.alert {
  display: flex;
  margin: 0 1em;
  padding: 0.3em 0.2em 0.3em 0.8em;

  .stat {
    align-items: center;
    display: flex;
    margin-right: 2em;
    padding: 0.2em 0;

    svg {
      margin-right: 0.5em;
      width: 1em;
    }
  }

  .stat-showing svg {
    color: var(--bs-blue);
  }

  .stat-unavailable svg {
    color: var(--bs-orange);
  }

  .filters-count {
    align-items: center;
    background: white;
    border: solid 1px var(--bs-border-color);
    border-radius: var(--bs-border-radius-pill);
    color: var(--bs-purple);
    display: flex;
    font-size: 0.8em;
    padding: 0 1em 0 0.5em;
  }

  .filters-clear {
    background: none;
    border: none;
    color: var(--bs-tertiary-color);
    margin-right: 0.5em;
    padding: 0;

    &:hover {
      color: var(--bs-dark-color);
    }

    svg {
      stroke-width: 5;
      width: 1.5em;
    }
  }

  .filters-count-text {
    padding: 0.2em 0;
  }
}

.filter-sorting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 1em;

  .accordion-header svg {
    width: 1em;
    margin-right: 0.5em;
  }

  .accordion-button {
    padding: 0.5em 0.8em;
  }

  .filters,
  .sorting {
    flex-grow: 2;
    margin-bottom: 1em;
    margin-left: 1em;
    min-width: 22em;
    width: calc(100% - 1em);

    @media all and (min-width: 43em) {
      width: calc(50% - 1em);
    }

    .badge {
      margin-left: 0.5em;
    }
  }

  .filters {
    .list-group {
      display: grid;
      grid-template-columns: max-content auto;
    }

    li.list-group-item {
      display: contents;
      padding: 0.5em;
    }

    label,
    input,
    .select {
      margin: 0.3em;
    }

    label {
      align-self: center;
    }

    input {
      border: solid 1px hsl(0, 0%, 80%);
      border-radius: 4px;
      padding: 4px 8px;
    }
  }

  .sorting {
    .accordion-body {
      padding-left: 0;
      padding-right: 0;
    }

    .list-group-item {
      border: none;
      display: flex;

      .select {
        margin-right: 0.5em;
      }

      .sorting-key {
        flex-grow: 2;
      }

      .sorting-direction {
        min-width: 6em;
      }

      button {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0.2em;

        svg {
          width: 1.6em;
          stroke-width: 2;
        }
      }
    }
  }
}

.new-badge {
  color: var(--bs-green);
}

.new-text {
  color: white;
}

.dogs {
  display: flex;
  flex-wrap: wrap;
  min-width: 24em;
  padding: 0.5em;

  .dog-wrapper {
    display: flex;
    justify-content: center;
    padding: 0 0.5em 1em;
    width: 100%;

    @media all and (min-width: 31em) {
      justify-content: start;
      width: 50%;
    }

    @media all and (min-width: 46.5em) {
      width: calc(100% / 3);
    }

    @media all and (min-width: 62em) {
      width: 25%;
    }

    @media all and (min-width: 77.5em) {
      width: 20%;
    }
  }

  .card {
    display: flex;
    flex-grow: 2;
    min-width: 14em;
    max-width: 23em;
    position: relative;

    img {
      aspect-ratio: 1 / 1;
    }

    .mark-seen-button,
    .toggle-favorite-button {
      display: none;
    }

    &.dog-is-available {
      &.dog-is-new .mark-seen-button,
      .toggle-favorite-button {
        display: block;
      }

      .remove-button {
        display: none;
      }
    }

    .mark-seen-button,
    .toggle-favorite-button,
    .remove-button {
      border: none;
      border-radius: 50%;
      position: absolute;
      top: 0.3em;
    }

    .mark-seen-button {
      background: none;
      display: none;
      left: 0.3em;
      padding: 0;
      width: 2.9em;
      height: 2.9em;

      &:hover .new-badge {
        color: #165236;
      }
    }

    &.dog-is-new .mark-seen-button {
      display: block;
    }

    .toggle-favorite-button,
    .remove-button {
      right: 0.3em;
      width: 2.5em;
      height: 2.5em;
    }

    .toggle-favorite-button {
      background: rgba(255, 255, 255, 0.7);
      padding: 0.4em;

      &:hover {
        background: rgb(200, 200, 200, 0.7);
      }

      .heart-stroke {
        color: #333;
      }

      .heart-fill {
        color: transparent
      }
    }

    &.dog-is-favorite .toggle-favorite-button {
      background: white;

      &:hover {
        background: #c8c8c8;
      }

      .heart-stroke,
      .heart-fill {
        color: #c0186f;
      }
    }

    .remove-button {
      padding: 0.2em;

      svg {
        stroke-width: 2;
      }
    }

    h5 {
      background: var(--bs-secondary-bg-subtle);
      color: #142760;
      font-size: 1.1em;
      margin-bottom: 0;
      overflow: hidden;
      padding: 0.4em 0.8em;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.dog-is-available h5 {
      background: var(--bs-primary-bg-subtle);
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 2;

    svg {
      flex-shrink: 0;
      width: 1em;
    }
  }

  .list-group-item {
    align-items: center;
    display: flex;

    .dog-tooltip-wrapper {
      align-items: center;
      display: flex;
      margin-right: 0.3em;

      span {
        align-items: center;
        display: flex;
      }
    }

    .dog-attribute-content {
      color: var(--bs-gray-dark);
    }
  }

  .dog-breed span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dog-intake-date .date-delimiter {
    color: var(--bs-gray-500);
    margin: 0 0.1em;
  }

  a {
    align-items: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    justify-content: center;

    svg {
      margin-left: 0.6em;
      position: relative;
      top: -1px;
    }
  }
}
